@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,700;0,800;1,200;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

:root {
  font-size: 62.5%;
}

body {
  
  height: 100vh;
  color: rgb(240, 221, 221);
}

body,
input,
button,
textarea {
  font-size: 18px;
  line-height: 1;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
}
